*.pyc
*.ck
*.html
*.txt
uolbibliography/*.csv
uolbibliography/logs/
uolbibliography/generated/*
uolbibliography/generated*/*
uolbibliography/__temp__/*
uolbibliography/plots/
uolbibliography/citations/
uolbibliography/helper_directory.py
uolbibliography/scholar.py
uolbibliography/citation_tests.py